{% extends "base.html" %}
{% load static %}
{% block script %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
        $(function () {
        $('#chart_container').highcharts({
        chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Studio Collection Overview'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Studios',
        colorByPoint: true,
        data: [
          {% for cat in results %}
            {
            name: '{{ cat.studio }}',
            y:{{ cat.count }}
            },
            {% endfor %}
            ]
    }]
        });
        });
    </script>
<h1>Movie List</h1>

<a href="{% url 'add' %}">Add Movie</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Director</th>
        <th scope="col">Studio</th>
        <th scope="col">Collection</th>
        <th scope="col">Release Date</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for movie in movie_list %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{movie.name}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.studio}}</td>
        <td>{{movie.collection}}</td>
        <td>{{movie.release_date}}</td>
        <td>
            <a href="{% url 'update' pk=movie.id %}" >Edit</a>
            <a href="{% url 'delete' pk=movie.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <p>There are no books in the library.</p>
    {% endfor %}
    </tbody>
</table>
    <div id="chart_container" style="height: 300px"></div>

{% endblock %}